<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/upload" method="post" enctype="multipart/form-data">
      Select an image to upload:<p />
      <input type="file" name="recfile" placeholder="Select file"/>
      <br/>
      <button>Upload</button>
    </form>

  </body>
</html>
