<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Upload successful...</p>

    <img src="<%= image_src %>" alt="">
    <p><%= image_src %></p>
  </body>
</html>
